<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button slot="start" (click)="salir()"><ion-icon name="arrow-round-up"></ion-icon></ion-button>        
    <ion-title>Evidencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="tomarFoto()">Tomar foto</ion-button>
  <ion-button (click)="tomarVideo()">Tomar Video</ion-button>

  <p>Foto</p>
  <img src="{{foto}}" *ngIf="foto" />
  <p>Video</p>
  <video controls="controls" autoplay preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
    <source id="idVideo" #myvideo [src]="urlVideo" type="video/mp4" *ngIf="urlVideo"/>
  </video>

    <!-- -->
    <div *ngIf="evidencias.length == 0">
        <ion-item>No hay evidencias.</ion-item>
      </div>
      <!-- --> 
      <ion-grid>
        <ion-row no-padding class="hdr">
          <ion-col class="ion-text-center">
            <h6 style="text-align:center;">Evidencias</h6>
          </ion-col>
        </ion-row>
        <div *ngFor="let item of evidencias;even as isEven"  (click)="selectRow($event, item)" text-wrap>
          <ion-row no-padding [ngClass]="isEven? 'even' : 'odd'">
            <ion-col col-1></ion-col>            
            <ion-col col-8>              
              <ion-card *ngIf="item.tipo=='imagen'">
                <ion-card-header>
                  Fotografia
                </ion-card-header>
                <ion-card-content>
                  <div style="height:80%;width:80%" class="ion-text-center">
                    <img [src]="item.urlPhoto"  style="height:80%;width:80%" />
                  </div>
                </ion-card-content>
              </ion-card>
              <ion-card *ngIf="item.tipo=='video'"> 
                <ion-card-header>
                  Video
                </ion-card-header>
                <ion-card-content>
                  <video controls="controls"  style="height:80%;width:80%" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                    <source [src]="item.urlPhoto" type="video/mp4" />
                  </video>
                </ion-card-content>
              </ion-card>    
              
            </ion-col>       
            <ion-col col-1>
              {{item.tipo}}
            </ion-col>
            <ion-col col-1>
              <ion-button (click)="item.delete=!item.delete">
                <ion-icon name="backspace" *ngIf="!item.delete"></ion-icon>
                <ion-icon name="flash" *ngIf="item.delete"></ion-icon>
              </ion-button>    
            </ion-col>
            <ion-col col-1></ion-col>            
          </ion-row>
        </div>
      </ion-grid>
 
</ion-content>
